<div class="container ">
  <div class="row mt-5">
    <div class="col-md-6">
      <img class="w-100" src="../../assets/purepng.com-blue-lamborghini-aventador-carcarvehicletransportlamborghini-961524657644ldrr1.png" alt="">
    </div>
    <div class="col-md-6">
      <div class="header">
        <span class="text-primary border rounded-2  p-2">why choose us</span>
<h1>we offer the best experiance</h1>
<h2>with our rental deals </h2>
      </div>
      <div class="cards ">
        <div class=" d-flex align-items-center ">
          <div class="border rounded-2  p-4 d-flex justify-content-center align-items-center fs-1">
            <i class="fa-solid fa-wallet text-primary"></i>
          </div>
          <div class="discription ms-3 mt-3 d-flex flex-column">
            <h4>Lorem, ipsum dolor..</h4>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing.</span>
            <span>Lorem ipsum dolor sit amet..</span>
          </div>
      </div>
        <div class=" d-flex align-items-center ">
          <div class="border rounded-2  p-4 d-flex justify-content-center align-items-center fs-1">
            <i class="fa-solid fa-user text-primary"></i>
          </div>
          <div class="discription ms-3 mt-3 d-flex flex-column">
            <h4>Lorem, ipsum dolor..</h4>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing.</span>
            <span>Lorem ipsum dolor sit amet..</span>
          </div>
      </div>
        <div class=" d-flex align-items-center ">
          <div class="border rounded-2  p-4 d-flex justify-content-center align-items-center fs-1">
            <i class="fa-solid fa-calendar-check text-primary"></i>
          </div>
          <div class="discription ms-3 mt-3 d-flex flex-column">
            <h4>Lorem, ipsum dolor..</h4>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing.</span>
            <span>Lorem ipsum dolor sit amet..</span>
          </div>
      </div>
        <div class=" d-flex align-items-center ">
          <div class="border rounded-2  p-4 d-flex justify-content-center align-items-center fs-1">
            <i class="fa-solid fa-message text-primary"></i>
          </div>
          <div class="discription ms-3 mt-3 d-flex flex-column">
            <h4>Lorem, ipsum dolor..</h4>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing.</span>
            <span>Lorem ipsum dolor sit amet..</span>
          </div>
      </div>
    </div>
  </div>
</div>
