<div class="container">
  <div class="title text-center">
    <span class="text-primary border rounded-2 p-2">how it work</span>
    <h1>rent with following 3 working steps</h1>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 d-flex flex-column align-items-center">
      <div class="border rounded-2 w-25 p-4 d-flex justify-content-center align-items-center fs-1">
        <i class="fa-solid fa-location-pin text-primary"></i>
      </div>
      <div class="discription text-center d-flex flex-column">
        <h5>choose your location</h5>
        <span>choose your and find </span>
        <span>your best car</span>
      </div>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center">
      <div class="border rounded-2 w-25 p-4 d-flex justify-content-center align-items-center fs-1">
        <i class="fa-solid fa-calendar text-primary"></i>
      </div>
      <div class="discription text-center d-flex flex-column">
        <h5>pake-up data </h5>
        <span>select your pick-up date and </span>
        <span>time to book your car</span>
      </div>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center">
      <div class="border rounded-2 w-25 p-4 d-flex justify-content-center align-items-center fs-1">
        <i class="fa-solid fa-car-alt text-primary"></i>
      </div>
      <div class="discription text-center d-flex flex-column">
        <h5>book your car</h5>
        <span>book your car and we will be deliver </span>
        <span>it directely to you</span>
      </div>
    </div>
  </div>
</div>
